
.navi{
  
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.navi ul{
  list-style-type: none;
  
}

#navbar li{
  margin-bottom: 10px;
  text-align: center;
  float: right;
  overflow: hidden;
  padding-right: 10px;
  
}




